body {
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;
    text-decoration: none;
}

h1, h2, h3 .gallery {
    text-align: center;
}

.row .gallery img {
    height: 100%;
}

.row .gallery a {
    width: 240px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px -1px #000;
}
.row .gallery a:hover {    opacity: 0.5;
}


.row .baguetteBoxOne {
	width:100%;
	margin:0 auto 0 auto;
}
