body {
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;
    text-decoration: none;
}

h1, h2, h3 .gallery {
    text-align: center;
}



.row .gallery:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.row .gallery img {
    height: 100%;
}

.row .gallery a {
    width: 240px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px -1px #000;
}
.row .gallery a:hover {
    border: 1px solid skyblue;
    opacity: 0.3;
}


.row .baguetteBoxOne {
	width:100%;
	margin:0 auto 0 auto;
}
