<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <meta charset="utf-8" />
    <style>
        /* 此样式仅用于浏览器页面效果，Excel不会分离表格边框，不需要此样式 */
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<!--报名信息展示-->
<body>
<form action="/baoming" method="post">
    <table border="1" id="dataTable">
        <tr>
            <th>报名ID</th>
            <th>竞赛名称</th>
            <th>竞赛类型</th>
            <th>竞赛简介</th>
            <th>竞赛官网</th>
            <th>参赛人</th>
            <th>报名时间</th>
            <th>报名状态</th>
        </tr>
<!--        遍历输出-->
        <!--<tr th:each="b : ${signups}">
            <td th:text="${b?.b_id}"></td>
            <td th:text="${b?.contestInfo?.j_name}"></td>
            <td th:text="${b?.contestInfo?.j_type}"></td>
            <td th:text="${b?.contestInfo?.j_int}"></td>
            <td ><a th:href="@{${b.contestInfo?.j_href}}" th:text="${b.contestInfo?.j_href}"></a></td>
            <td th:text="${b?.competitor?.c_name}"></td>
            <td th:text="${b?.b_time}"></td>
            <td th:text="${b?.b_state}"></td>
        </tr>-->
    </table>
    <input type="submit" value="查询">
</form>
<a >导出表格</a>
<table border="0" style="margin-top:4px; margin-left: 18px">
    <tr>
        <td><button class="btn" id="updownbtn">数据导出</button></td>
    </tr>
</table>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script>
    $(function () {
        //获取url中的jid
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        };
        var j_id = $.getUrlParam('j_id');
        $('#updownbtn').click(function () {
            window.location.href="/ExcelDownloads?j_id="+j_id;
        });
        $.ajax({
            type: "POST",
            url: "/baomingAllInfo",
            data:{j_id:j_id},
            success: function (record) {
                console.log(record[0]);
                for(let i = 0 ; i < record.length ; i++){
                    $('#dataTable').append(
                        ' <tr>' +
                        '            <td>' + record[i].b_id + '  </td>' +
                        '            <td>' + record[i].contestInfo.j_name+'</td>' +
                        '            <td>' + record[i].contestInfo.j_type+ '</td>' +
                        '            <td>' + record[i].contestInfo.j_int + '</td>' +
                        '            <td>' + record[i].contestInfo.j_href + '</td>' +
                        '            <td>' + record[i].competitor.c_name + '</td>' +
                        '            <td>' + record[i].b_time +'</td>' +
                        '            <td>' + record[i].b_state + '</td>' +
                        '        </tr>'
                    );
                }
            }
        });
    });
</script>


</body>
</html>