<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

</head>
<!--报名信息展示-->
<body>
<form action="/baoming.getall" method="post">
    <table border="1">
        <tr>
            <th>报名ID</th>
            <th>竞赛名称</th>
            <th>竞赛类型</th>
            <th>竞赛简介</th>
            <th>竞赛官网</th>
            <th>参赛人</th>
            <th>报名时间</th>
            <th>报名状态</th>

        </tr>
<!--        遍历输出-->
        <tr th:each="b : ${signups}">
            <td th:text="${b?.b_id}"></td>
            <td th:text="${b?.contestInfo?.j_name}"></td>
            <td th:text="${b?.contestInfo?.j_type}"></td>
            <td th:text="${b?.contestInfo?.j_int}"></td>
            <td ><a th:href="@{${b.contestInfo?.j_href}}" th:text="${b.contestInfo?.j_href}"></a></td>
            <td th:text="${b?.competitor?.c_name}"></td>
            <td th:text="${b?.b_time}"></td>
            <td th:text="${b?.b_state}"></td>
        </tr>
    </table>
    <input type="submit" value="查询">
</form>

</body>
</html>