<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<!--报名信息展示-->
<body>
<form action="/baoming.getall" method="post">
    <table border="1" id="matchmessage">
        <tr>
            <th>报名ID</th>
            <th>竞赛名称</th>
            <th>竞赛类型</th>
            <th>竞赛简介</th>
            <th>竞赛官网</th>
            <th>参赛人</th>
            <th>报名时间</th>
            <th>报名状态</th>
        </tr>
<!--        遍历输出-->
    </table>
    <input type="submit" value="查询">
</form>

</body>
<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        };
        var g_id = $.getUrlParam('gid');
        $.ajax({
            type: "POST",
            url: "/#",
            data:{g_id:g_id},
            success: function (record) {
               /* record.each(function (i) {*/
               /*     $('#matchmessage').append(*/
               /*         ' <tr>' +*/
               /*         '            <td>record[i].</td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '            <td></td>' +*/
               /*         '        </tr>'*/
               /*     );*/
               <!-- })-->
            }
        });
    })
</script>
</html>