<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.scss">
    <link rel="stylesheet" href="css/jSlider.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/baguettebox.min.css">

    <script src="js/baguettebox.min.js"></script>
    <script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.jSlider.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.lazyload.min.js?v=1.9.1"></script>
    <script src="js/bootstrap.js"></script>
    <style>
        /*导航栏开始*/
        #menu a {
            color: #989898;
            font-family: "Helvetica Neue", Helvetica, Arial,'Microsoft YaHei','PingFang SC Regular',sans-serif !important;
            font-size: medium;
            font-weight: bold;
        }
        #menu li {
            padding: 5px 5px 5px 0;
        }
        #menu a:hover{
            color: #5bc0de;
        }
        /*导航栏结束*/
        /*table begin*/
        .table th, .table td{
            text-align: center;
            vertical-align: middle!important;
            font-family: "Helvetica Neue", Helvetica, Arial,'Microsoft YaHei','PingFang SC Regular',sans-serif !important;
            font-size: small;
            color: #080808;
        }
        /*table over*/
        /*modal begin*/
        .modal{
            font-family: "Helvetica Neue", Helvetica, Arial,'Microsoft YaHei','PingFang SC Regular',sans-serif !important;
            font-size: small;
            color: #080808;
        }
        /*modal over*/
    </style>
</head>
<body>
<!--导航栏开始-->
<header class="cd-main-header">
    <div class="cd-main-header__container container container--lg">
        <nav class="nav navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span href="#" ><img src="images/head_logo.png" alt=""></span>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/contestInfo">报名</a></li>
                        <li><a href="/CL.action">竞赛成绩</a></li>
                        <li><a href="#">优秀师生</a></li>
                        <li><a href="/uploadworks">作品提交</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div th:text="${session.USER.username}" class="qwer" style="display: inline-block"> </div><span class="caret "></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="/userInfo">个人信息</a></li>
                                <li><a href="/CreatGroupInfo">小组信息</a></li>
                                <li th:if="${session.USER.role}==1"><a href="/mclist.action">竞赛管理</a></li>
                                <li th:if="${session.USER.role}==1"><a href="/MNlist.action">通知管理</a></li>
                                <li><a href="/logout.action">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--导航栏结束-->
<main>
    <!-- 添加 ed -->
    <!-- 显示表格 bg -->
    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="panel-heading pull-left" style="font: 20px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">竞赛信息</div>
                        <div class="pull-right text-center col-md-4">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newMessageDialog" onclick="clearMessage()">添加</a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>比赛名称</th>
                            <th>比赛类型</th>
                            <th>发布日期</th>
                            <th>截止日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="pageInfo:${pageInfo.list}">
                            <td th:text="${pageInfo.j_name}"></td>
                            <td th:text="${pageInfo.j_type}"></td>
                            <td th:text="${#dates.format(pageInfo.j_starttime,'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(pageInfo.j_endtime,'yyyy-MM-dd')}"></td>
                            <td th:text="${pageInfo.j_id}" style="display: none"></td>
                            <td>
                                <span class="btn btn-primary btn-md editbtn" data-toggle="modal" data-target="#contestEditDialog" >修改</span>
                                <span class="btn btn-warning btn-md lookbtn" data-toggle="modal" data-target="#contestLookDialog">详情</span>
                                <span class="btn btn-danger btn-md delbtn"  >删除</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.panel-body -->
                    <div class="text-center" style="width: 100%;position: absolute;top: 700px">
                        <p class="text-center" style="color: #080808">
                            当前 <span th:text="${pageInfo.pageNum}"></span> 页,总
                            <span th:text="${pageInfo.pages}"></span> 页,共
                            <span th:text="${pageInfo.total}"></span> 条记录
                            <br>
                        </p>
                        <div class="btn-group text-center">
                            <a class="btn btn-default" th:href="@{/mclist.action}" >首页</a>
                            <a class="btn btn-default" th:href="@{/mclist.action(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" >上一页</a>
                            <a class="btn btn-default" th:href="@{/mclist.action(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                            <a class="btn btn-default" th:href="@{/mclist.action(pageNum=${pageInfo.pages})}" >尾页</a>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- 客户列表查询部分 end-->
        <!-- 创建客户模态框 -->
        <div class="modal fade" id="newMessageDialog" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">添加比赛</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="new_contest_form">

                            <div class="form-group">
                                <label for="new_contestName" class="col-sm-2 control-label">
                                    比赛名称：
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new_contestName" placeholder="比赛名称"
                                           name="j_name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_contestType" class="col-sm-2 control-label">
                                    比赛类型：
                                </label>
                                <div class="col-sm-10">
                                    <select id="new_contestType" name="j_type"  class="form-control" placeholder="竞赛类型"/>
                                    <option value="" >--请选择--</option>
                                    <option value="个人赛">个人赛</option>
                                    <option value="组队赛">组队赛</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_contestWeb" class="col-sm-2 control-label">
                                    官方网址：
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new_contestWeb" placeholder="官方网址"
                                           name="j_href"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_contestStarttime" class="col-sm-2 control-label">
                                    发布日期：
                                </label>
                                <div class="col-sm-10">
                                    <div class="tooltip-show" id="time1" data-toggle="tooltip"  data-placement="bottom" data-html="true" title="<h5 style='color:red'><strong>请输入发布日期</strong></h5>">
                                        <input type="date" class="form-control"  id="new_contestStarttime" placeholder="发布日期" name="j_starttime"/>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_contestEndtime" class="col-sm-2 control-label">
                                    截止日期：
                                </label>
                                <div class="col-sm-10">
                                    <div class="tooltip-show" id="time2" data-toggle="tooltip"  data-placement="bottom" data-html="true" title="<h5 style='color:red'><strong>请输入截止日期</strong></h5>">
                                        <input type="date" class="form-control" id="new_contestEndtime"  placeholder="截止日期" name="j_endtime"/>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="new_contestIntroduction" class="col-sm-2 control-label">
                                    详情介绍：
                                </label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control"  style="width: 470px; height: 100px" id="new_contestIntroduction" placeholder="详情介绍"
                                               name="j_introduction"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearMessage()">关闭</button>
                        <button type="button" class="btn btn-primary" id="fabu_btn" onclick="createContest()">发布竞赛</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改客户模态框-->
        <div class="modal fade" id="contestEditDialog" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">修改竞赛信息</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="edit_notice_form">

                            <input type="hidden" id="edit_contestId" name="j_id"/>

                            <div class="form-group">
                                <label for="edit_contestName" class="col-sm-2 control-label">
                                    比赛名称：
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_contestName" placeholder="比赛名称"
                                           name="j_name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_contestType" class="col-sm-2 control-label">
                                    比赛类型：
                                </label>
                                <div class="col-sm-10">
                                    <select id="edit_contestType"   class="form-control" name="j_type"/>
                                    <option value="个人赛">个人赛</option>
                                    <option value="组队赛">组队赛</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_contestWeb" class="col-sm-2 control-label">
                                    官方网址：
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_contestWeb" placeholder="官方网址"
                                           name="j_href"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_contestStarttime" class="col-sm-2 control-label">
                                    发布日期：
                                </label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="edit_contestStarttime" placeholder="发布日期"
                                           name="j_starttime"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_contestEndtime" class="col-sm-2 control-label">
                                    截止日期：
                                </label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="edit_contestEndtime" placeholder="截止日期"
                                           name="j_endtime"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="edit_contestIntroduction" class="col-sm-2 control-label">
                                    详情介绍：
                                </label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control"  style="width: 470px; height: 100px" id="edit_contestIntroduction"
                                           name="j_introduction"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="updateContest()">保存修改</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 查询竞赛模态框 -->
        <div class="modal fade" id="contestLookDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

</body>
<!-- 编写js代码 -->
<script type="text/javascript">
    //清空新建客户窗口中的数据
    function clearMessage() {
        $("#new_contestName").val("");//比赛名称
        $("#new_contestType").val("");//比赛类型
        $("#new_contestWeb").val("");//官方网址：
        $("#new_contestStarttime").val("");//发布日期：
        $("#new_contestEndtime").val("");// 截止日期
        $("#new_contestIntroduction").val("");//详情介绍：
    }
    // 发布通知
    function createContest() {
        $.post("/Ccreate.action",
            $("#new_contest_form").serialize(), function (data) {
                if (data == "OK") {
                    alert("竞赛添加成功！" + data);
                    window.location.reload();
                } else {
                    if (data == "EXIST") {
                        alert("竞赛名称已经存在，请重新设置竞赛名称！");
                        $("#new_contestName").focus();
                    }
                    else if (data == "empty1") {
                        alert("竞赛名称不能为空，请重新设置竞赛名称！");
                        $("#new_contestName").focus();
                    }
                    else if (data == "empty2") {
                        alert("比赛类型不能为空，请重新设置比赛类型！");
                        $("#new_contestType").focus();
                    }
                    else if (data == "empty3") {
                        alert("官方网址不能为空，请重新设置官方网址！");
                        $("#new_contestWeb").focus();
                    }
                    else if (data == "empty4") {
                        alert("详情介绍不能为空，请重新设置详情介绍！");
                        $("#new_contestIntroduction").focus();//详情介绍
                    }
                    if (data == "FAIL") {
                        alert("竞赛创建失败！" + data);
                        window.location.reload();
                    }
                }
            });
    }
    //操作：查看 删除 批删
    $(function () {
        $("#fabu_btn").click(function(){
            var  starttime = $('#new_contestStarttime').val();
            var  endtime = $('#new_contestEndtime').val();
            if(!starttime){
                $('#time1').tooltip('show');
                return false;
            }
            if(!endtime){
                $('#time2').tooltip('show');
                return false;
            }

        });
        $('#new_contestStarttime').focus(function () {
            $('#time1').tooltip('destroy');
        });
        $('#new_contestEndtime').focus(function () {
            $('#time2').tooltip('destroy');
        });
        // 通过id获取修改的通知信息
        $('.editbtn').click(function () {
            var edit = parseInt($(this).parent().prev().text());
            console.log(edit);

            $.ajax({
                type: "get",
                url: "/CgetContestById.action",
                data: {"j_id": edit},
                success: function (data) {
                    console.log(data);
                    $("#edit_contestId").val(data.j_id);
                    $("#edit_contestName").val(data.j_name);//比赛名称
                    $("#edit_contestType").val(data.j_type);//比赛类型
                    $("#edit_contestWeb").val(data.j_href);//官方网址
                    var st = data.j_starttime.toString().substring(0,10);
                    $("#edit_contestStarttime").val(st);//发布日期
                    var eds=data.j_endtime.toString().substring(0,10);
                    $("#edit_contestEndtime").val(eds);// 截止日期
                    $("#edit_contestIntroduction").val(data.j_int);//详情介绍
                }
            });
        });
        // 删除客户
        $('.delbtn').click(function () {
            if (confirm('确实要删除该通知吗?')) {
                var editid = parseInt($(this).parent().prev().text());
                console.log(editid);
                $.post("/Cdelete.action", {"j_id": editid},
                    function (data) {
                        if (data == "OK") {
                            alert("竞赛删除成功！" + data);
                            window.location.reload();
                        } else {
                            alert("删除竞赛失败！" + data);
                            window.location.reload();
                        }
                    });
            }
        });
        //详情
        $('.lookbtn').click(function () {
            var edit = parseInt($(this).parent().prev().text());
            console.log(edit);
            $.ajax({
                type: "get",
                url: "/CgetContestById.action",
                data: {"j_id": edit},
                success: function (data) {
                    $('#contestLookDialog .modal-body').html("大赛详情："+data.j_int+"<br>"+"访问官网："+data.j_href);
                    $('#contestLookDialog h4').html(data.j_name);
                }
            });
        });

    });
    // 执行修改竞赛内容操作
    function updateContest() {
        $.post("/Cupdate.action",$("#edit_notice_form").serialize(), function (data) {
            if (data == "OK") {
                alert("竞赛信息更新成功！" + data);
                window.location.reload();
            } else {
                alert("竞赛信息更新失败！" + data);
                window.location.reload();
            }
        });
    }


</script>
</html>