<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报名</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <style>
        body {
            background: #edeeef;
        }
        /*导航栏开始*/
        #menu a,.qwer {
            color: #989898;
            font-family: "Helvetica Neue", Helvetica, Arial,'Microsoft YaHei','PingFang SC Regular',sans-serif !important;
            font-size: medium;
            font-weight: bold;
        }
        #menu li {
            padding: 5px 5px 5px 0;
        }
        #menu a:hover,.qwer:hover{
            color: #5bc0de;
        }
        /*导航栏结束*/
        .col-xs-6 p {
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<!--报名信息展示-->
<body>
<!--导航栏开始-->
<header class="cd-main-header">
    <div class="cd-main-header__container container container--lg">
        <nav class="nav navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span><img src="images/head_logo.png" alt=""></span>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/index">首页</a></li>
                        <li><a href="#">报名</a></li>
                        <li><a href="/baoming">竞赛成绩</a></li>
                        <li><a href="#">优秀师生</a></li>
                        <li><a href="#">作品提交</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="${session.userInfo.c_name}" class="qwer"></span><span class="caret "></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/userInfo">个人信息</a></li>
                                <li th:if="${session.USER.role}==1"><a href="/MNlist.action">通知管理</a></li>
                                <li><a href="/logout.action">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--导航栏结束-->
<div class="container" style="background:#fff;margin-top: 100px;">
    <div class="row">
            <div class="breadcrumb" style="font: 20px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">
                <h6>竞赛报名</h6>
            </div>
            <form action="/baoming.getall" method="post">
            <div class="col-xs-6 col-md-3 text-center" th:each="b : ${contestInfos}">
                <img src="images/trophy_yellow.png" alt="#">
                <div class="breadcrumb">
                    <p  th:text="${b.j_name}"></p>
                </div>
                <div class="alert alert-info">
                    <p>报名开始时间:<b th:text="${#dates.format(b.j_starttime, 'yyyy-MM-dd')}"></b></p>
                    <p>报名截止时间:<b class="endtime" th:text="${#dates.format(b.j_endtime, 'yyyy-MM-dd')}"></b></p>
                    <div class="container-fluid">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" th:href="@{'#'+${b.j_id}}" style="cursor: pointer">
                                        更多信息<span class="caret"></span>
                                    </p>
                                </div>
                                <div th:id="${b.j_id}" class="accordion-body collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <form action="/baoming.getall" method="post">
                                            <table>
                                                <tr>
                                                    <td>ID</td>
                                                    <td th:text="${b.j_id}"></td>
                                                </tr>
                                                <tr>
                                                    <td>名称</td>
                                                    <td th:text="${b.j_name}"></td>
                                                </tr>
                                                <tr>
                                                    <td>类型</td>
                                                    <td th:text="${b.j_type}"></td>
                                                </tr>
                                                <tr>
                                                    <td>简介</td>
                                                    <td th:text="${b.j_int}"></td>
                                                </tr>
                                                <tr>
                                                    <td>官网</td>
                                                    <td><a th:href="@{${b.j_href}}" th:text="${b.j_href}"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>时间</td>
                                                    <td>2019.5.6</td>
                                                </tr>
                                            </table>
                                            <input type="submit" value="查询"  class="btn btn-primary uploadbtn">
                                        </form><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p><span class="btn btn-success goapply">报名</span></p><br>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- 模态框（Modal）开始 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">请完善个人信息</h4>
            </div>
            <div class="modal-body form-inline">
                <table>
                    <tr>
                        <td> 选择竞赛</td>
                        <td>
                            <select id="selContest" class="form-control">
                                <option value="0"></option>
                            </select><br>
                        </td>
                    </tr>
                    <tr>
                        <td>学号</td>
                        <td> <input type="text" id="sno" class="form-control" th:value="${userInfo.c_sno}"><br></td>
                    </tr>
                    <tr>
                        <td> 姓名</td>
                        <td><input type="text" id="name" class="form-control" th:value="${userInfo.c_name}"><br></td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>
                            <input type="radio" id="women" value="女"  name="1" th:checked="${userInfo.c_gender=='女'}">女
                            <input type="radio" id="man" value="男" checked="checked" name="1" th:checked="${userInfo.c_gender=='男'}">男<br>
                        </td>
                    </tr>
                    <tr>
                        <td>专业班级</td>
                        <td> <input type="text" id="major" class="form-control" th:value="${userInfo.c_major}"><br></td>
                    </tr>
                    <tr>
                        <td>手机号</td>
                        <td><input type="text" id="phone" class="form-control" th:value="${userInfo.c_phone}"><br></td>
                    </tr>
                    <tr>
                        <td>QQ号</td>
                        <td><input type="text" id="qq" class="form-control" th:value="${userInfo.c_QQ}"><br></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="send">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function () {
      //判断时间是否过期
      $('.endtime').each(function () {
          var endDateString = $(this).text().replace(/-/g, '/');
          var endDate = new Date(endDateString);
          endDate.setDate(endDate.getDate() + 1);
          var nowDate = new Date;
          if(endDate.getTime() < nowDate.getTime()) {
              $(this).parent().parent().next().children().text('报名结束').attr('disabled', true);
              $(this).parent().parent().prev().prev().attr("src","images/trophy_grey.png");
          }
      });
      //报名 按钮 弹出拟态框
      $('.goapply').on('click',function (e) {
          if($(this).attr('disabled') != 'disabled'){
              var testname = $(this).parent().prev().prev().children().text();
              var testid = $(this).parent().prev().children().eq(2).children().children().children().eq(1).attr('id');
              $('#selContest option').html(testname).attr('value',testid);
              $('#myModal').modal({keyboard: true});
              e.stopPropagation();
          }
      });
      //拟态框内 确认报名
      $('#send').click(function () {
          var contest=$('#selContest option').attr('value');
          var sno = $('#sno').val();
          var name = $('#name').val();
          var sex = $('input:radio:checked').val();
          var major = $('#major').val();
          var phone = $('#phone').val();
          var qq = $("#qq").val();
          console.log(sno);
          $.ajax({
              type: "POST",
              url: "/regcontestInfo",
              data: {'c_sno':sno,'c_name':name,'c_gender':sex,'c_major':major,'c_phone':phone,'c_qq':qq,'j_id':contest},
              success: function (ok) {
                    alert(ok);
              }
          });
      });
  });

</script>
</html>