<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        body {
            background: #edeeef;
        }
        #menu a {
            color: #989898;
            font-family: "Helvetica Neue", Helvetica, Arial,'Microsoft YaHei','PingFang SC Regular',sans-serif !important;
            font-size: medium;
            font-weight: bold;
        }
        #menu li {
            padding: 5px 5px 5px 0;
        }
        #menu a:hover{
            color: #5bc0de;
        }
    </style>
</head>

<!--小组信息展示-->
<body>
<header class="cd-main-header">
    <div class="cd-main-header__container container container--lg">
        <nav class="nav navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span href="#" ><img src="images/head_logo.png" alt=""></span>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/contestInfo">报名</a></li>
                        <li><a href="/ContestResult">竞赛成绩</a></li>
                        <li><a href="/CL.action">优秀师生</a></li>
                        <li><a href="/uploadworks">作品提交</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div th:text="${session.USER.username}" class="qwer" style="display: inline-block"> </div><span class="caret "></span></a>
                            <ul class="dropdown-menu">

                                <li><a href="/userInfo">个人信息</a></li>
                                <li><a href="/CreatGroupInfo">小组信息</a></li>
                                <li th:if="${session.USER.role}==1"><a href="/mclist.action">竞赛管理</a></li>
                                <li th:if="${session.USER.role}==1"><a href="/MNlist.action">通知管理</a></li>
                                <li><a href="/logout.action">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container" style="background:#fff;margin-top: 100px;">
        <div class="row">
            <div class="breadcrumb" >
                <h6 style="font: 20px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">小组操作</h6>
            </div>
            <div class="container">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <br><br><br>
                    <input type="text" id="newteamname" class="form-control"  placeholder="新小组的名字" style="width: 50%;display: inline">&nbsp;&nbsp;<button  class="btn btn-primary" id="newteam" disabled>创建小组</button>
                    <br><br><br>
                    <input type="text" id="addteamcode" class="form-control" placeholder="小组邀请码"  style="width: 50%;display: inline">&nbsp;&nbsp;<button  class="btn btn-primary" id="addteam" disabled>加入小组</button>
                </div>
            </div>
            <div class="breadcrumb" style="margin-top: 100px">
                <h6 style="font: 20px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">我的小组</h6>
            </div>
            <div class="container" id="myteam">
            </div>
        </div>
    </div>
</main>
</body>
<script src="js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    //
    $(function () {
        showmyteam();
        $('#newteamname').bind('input propertychange',function(){
            if($(this).val() == ""){
                    $('#newteam').attr('disabled',true);

                }else{
                    $('#newteam').attr('disabled',false);
                }
        });
        $('#addteamcode').bind('input propertychange',function(){
            $('.codearr').each(function (i) {
                if($(this).text() == $('#addteamcode').val()) {
                    alert('不能重复加入小组');
                    $('#addteamcode').val('');
                }
            });
            if($(this).val() == ""){
                $('#addteam').attr('disabled',true);
            }else{
                $('#addteam').attr('disabled',false);
            }
        });
        $('#newteam').click(function () {
            var name = $('#newteamname').val();
            $.ajax({
                type: "POST",
                url: "/CreatGroup",
                data: {'g_name':name},
                success: function (ok) {
                    if(ok){
                        alert(ok);
                        showmyteam();
                    }
                }
            });
            // window.location.reload()
        });
        //通过邀请码加入小组
        $('#addteam').click(function () {
            var code = $('#addteamcode').val();
            var my = [[${session.USER.getU_sno()}]];
   /*         console.log({'g_code':code,my});*/
            $.ajax({
                type: "POST",
                url: "/joinGroup",
                data: {'g_code':code,'s_no':my},
                success: function (ok) {
                    if(ok){
                        alert(ok);
                        showmyteam();
                    }
                }
            });
           /* window.location.reload()*/
        });
        //我的小组
        function showmyteam(){
            $('#myteam').html('');
            $.ajax({
                type: "POST",
                url: "/GroupInfo",
                success: function (ok) {
                    if(ok){
                        for(let i = 0 ; i < ok.length ; i++){
                            if(ok[i].g_sn2 == null||ok[i].g_sn2 == "") ok[i].g_sn2 = '空';
                            if(ok[i].g_sn3 == null||ok[i].g_sn3 == "") ok[i].g_sn3 = '空';
                            if(ok[i].g_sn4 == null||ok[i].g_sn4 == "") ok[i].g_sn4 = '空';
                            $('#myteam').append(' <div class="col-xs-6 col-md-3">\n' +
                                '                    <table class="table">\n' +
                                '                        <tr>\n' +
                                '                            <td>小组名字</td>\n' +
                                '                            <td> ' + ok[i].g_name + '</td>\n' +
                                '                        </tr>\n' +
                                '                        <tr>\n' +
                                '                            <td>邀请码</td>\n' +
                                '                            <td class="codearr">' + ok[i].g_code + '</td>\n' +
                                '                        </tr>\n' +
                                '                        <tr>\n' +
                                '                            <td>组员1</td>\n' +
                                '                            <td>' + ok[i].g_sn1 + '</td>\n' +
                                '                        </tr>\n' +
                                '                        <tr>\n' +
                                '                            <td>组员2</td>\n' +
                                '                            <td>' + ok[i].g_sn2 + '</td>\n' +
                                '                        </tr>\n' +
                                '                        <tr>\n' +
                                '                            <td>组员3</td>\n' +
                                '                            <td>' + ok[i].g_sn3 + '</td>\n' +
                                '                        </tr>\n' +
                                '                        <tr>\n' +
                                '                            <td>组员4</td>\n' +
                                '                            <td>' + ok[i].g_sn4 + '</td>\n' +
                                '                        </tr>\n' +
                                '                    </table>\n' +
                                '                </div>')
                        }
                    }
                }
            });
        }

    })

</script>
</html>