<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

</head>
<!--小组信息展示-->
<body>
<form name="form0" action="/Group.getAll" method="post">
    <table border="1">
        <tr>
            <th>小组ID</th>
            <th>小组名称</th>
            <th>成员1</th>
            <th>成员2</th>
            <th>成员3</th>
            <th>成员4</th>

        </tr>
        <!--        遍历输出-->
        <tr th:each=" g: ${groups}">
            <td th:text="${g.getG_id()}"></td>
            <td th:text="${g.getG_name()}"></td>
            <td th:text="${g.getG_sn1()}"></td>
            <td th:text="${g.getG_sn2()}"></td>
            <td th:text="${g.getG_sn3()}"></td>
            <td th:text="${g.getG_sn4()}"></td>
        </tr>
    </table>
    <input type="submit" value="查询所有小组信息"><br>

</form>
<form name="creatGroup" action="/CreatGroupInfo" method="post">
    <input type="submit" value="创建小组">
</form>

</body>
</html>