<!DOCTYPE html>
<html lang="en">
<head>
    <div>
        <div>登录系统</div>
        <form action="/login.action" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="username" ></input></td>
                </tr>

                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password" ></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="提交" ></input></td>
                </tr>
            </table>
        </form>
    </div>
</head>
</html>