<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.CompetitorMapper" >


    <insert id="addCompetitor" parameterType="com.team5101.pojo.Competitor">
        INSERT INTO x_contestm (c_sno, c_name, c_gender, c_major, c_phone, c_QQ)
        VALUES (#{c_sno},#{c_name},#{c_gender},#{c_major},#{c_phone},#{c_QQ})
    </insert>

</mapper>