<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.GroupMapper" >
    <resultMap id="GroupMap" type="com.team5101.pojo.Group">
        <id property="g_id" column="g_id"/>
        <result property="g_name" column="g_name"/>
        <result property="g_sn1" column="g_sn1"/>
        <result property="g_sn2" column="g_sn2"/>
        <result property="g_sn3" column="g_sn3"/>
        <result property="g_sn4" column="g_sn4"/>
        <result property="g_code" column="g_code"/>
    </resultMap>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="g_name!=null">
                g_name,
            </if>
            <if test="g_sn1!=null">
                g_sn1,
            </if>
            <if test="g_sn2!=null">
                g_sn2,
            </if>
            <if test="g_sn3!=null">
                g_sn3,
            </if>
            <if test="g_sn4!=null">
                g_sn4,
            </if>
            <if test="g_code!=null">
                g_code,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="g_name!=null">
                #{g_name},
            </if>
            <if test="g_sn1!=null">
                #{g_sn1},
            </if>
            <if test="g_sn2!=null">
                #{g_sn2},
            </if>
            <if test="g_sn3!=null">
                #{g_sn3},
            </if>
            <if test="g_sn4!=null">
                #{g_sn4},
            </if>
            <if test="g_code!=null">
                #{g_code},
            </if>
        </trim>
    </sql>

    <insert id="addGroup" parameterType="com.team5101.pojo.Group">
        INSERT INTO x_group(<include refid="key"/>) VALUES(<include refid="value"/>)
    </insert>

    <select id="findGname" resultType="Integer" >
        select * from x_group where g_name=#{g_name}
    </select>

    <select id="allGroups" resultType="com.team5101.pojo.Group" >
        select * from x_group
    </select>

    <select id="findAllMember" resultType="com.team5101.pojo.Group" >
        select * from x_group where g_sn1=#{g_sn} or g_sn2=#{g_sn} or g_sn3=#{g_sn} or g_sn4=#{g_sn}
    </select>

    <update id="joinGroup"  parameterType="com.team5101.pojo.Group">
        update x_group
        <trim prefix="set" suffixOverrides=",">
            <if test="g_sn1!=null">g_sn1=#{g_sn1},</if>
            <if test="g_sn2!=null">g_sn2=#{g_sn1},</if>
            <if test="g_sn3!=null">g_sn3=#{g_sn1},</if>
            <if test="g_sn4!=null">g_sn4=#{g_sn1},</if>
        </trim>
        WHERE g_code=#{g_code}
    </update>

    <select id="findGroupByCode" resultType="com.team5101.pojo.Group" >
        select * from x_group
    </select>







</mapper>