<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.GroupMapper" >
    <resultMap id="GroupMap" type="com.team5101.pojo.Group">
        <id property="g_id" column="g_id"/>
        <result property="g_name" column="g_name"/>
        <result property="g_sn1" column="g_sn1"/>
        <result property="g_sn2" column="g_sn2"/>
        <result property="g_sn3" column="g_sn3"/>
        <result property="g_sn4" column="g_sn4"/>
    </resultMap>

    <sql id="key">

        <trim suffixOverrides=",">
            <if test="g_name!=null">
                g_name,
            </if>
            <if test="g_sn1!=null">
                g_sn1,
            </if>
            <if test="g_sn2!=null">
                g_sn2,
            </if>
            <if test="g_sn3!=null">
                g_sn3,
            </if>
            <if test="g_sn!=null">
                g_sn4,
            </if>
        </trim>
    </sql>


    <sql id="value">

        <trim suffixOverrides=",">
            <if test="g_name!=null">
                g_name,
            </if>
            <if test="g_sn1!=null">
                g_sn1,
            </if>
            <if test="g_sn2!=null">
                g_sn2,
            </if>
            <if test="g_sn3!=null">
                g_sn3,
            </if>
            <if test="g_sn!=null">
                g_sn4,
            </if>
        </trim>
    </sql>

    <insert id="addGroup" parameterType="com.team5101.pojo.Group">
        INSERT INTO student(<include refid="key"/>) VALUES(<include refid="value"/>)
    </insert>

    <select id="findMember" resultType="com.team5101.pojo.Group" >
        select * from x_group where g_name=#{g_name}
    </select>

    <select id="allGroups" resultType="com.team5101.pojo.Group" >
        select * from x_group
    </select>



</mapper>