<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.SignUpMapper" >
    <select id="getAll" parameterType="String" resultMap="SignUpInfo">
        select * from x_contesttp p, x_contestm m,x_signup s where s.c_id=m.c_id and s.j_id=p.j_id
    </select>
    <resultMap type="com.team5101.pojo.SignUp" id="SignUpInfo">
        <id property="b_id" column="b_id"/>
        <result column="b_time" property="b_time"/>
        <result column="b_state" property="b_state"/>
        <association property="contestInfo" column="teacher_id" javaType="com.team5101.pojo.ContestInfo">
            <id property="j_id" column="j_id"/>
            <result property="j_name" column="j_name"/>
            <result property="j_type" column="j_type"/>
            <result property="j_int" column="j_introduction"/>
            <result property="j_href" column="j_href"/>
            <result property="j_starttime" column="j_starttime"/>
            <result property="j_endtime" column="j_endtime"/>

        </association>
        <!-- ofType指定students集合中的对象类型 -->
        <collection property="competitor" ofType="com.team5101.pojo.Competitor">
            <id property="c_id" column="c_id"/>
            <result property="c_sno" column="c_sno"/>
            <result property="c_name" column="c_name"/>
            <result property="c_gender" column="c_gender"/>
            <result property="c_major" column="c_major"/>
            <result property="c_QQ" column="c_QQ"/>
        </collection>
    </resultMap>

    <insert id="addOne" parameterType="com.team5101.pojo.SignUp">
        insert into x_signup (j_id, c_id, b_time,b_state)
        values (#{j_id},#{c_id},now(),'报名成功')
    </insert>
    <select id="findInfo" parameterType="com.team5101.pojo.SignUp" resultType="com.team5101.pojo.SignUp">
        select count(*) from x_signup where j_id=#{j_id} and c_id=#{c_id}
    </select>

</mapper>