<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.SignUpMapper" >
    <resultMap id="SignUpMap" type="com.team5101.pojo.SignUp">
        <id column="b_id" property="b_id" jdbcType="INTEGER" />
        <result column="j_id" property="j_id" jdbcType="INTEGER" />
        <result column="c_id" property="u_id" jdbcType="INTEGER" />
        <result column="b_time" property="b_time" jdbcType="TIMESTAMP" />
        <result column="b_state" property="b_state" jdbcType="VARCHAR" />
<!--        <association property="u_id" column="c_id" select="getCompetitor"/>-->
    </resultMap>

<!--    查询所有报名信息-->
    <select id="getAll" resultMap="SignUpMap"  >
       SELECT
        *
       FROM x_signup
    </select>
<!--    查询参赛人信息-->
<!--    <select id="getCompetitor" parameterType="int" resultType="com.team5101.pojo.Competitor">-->
<!--       SELECT-->
<!--        c_id,c_name-->
<!--       FROM x_contestm WHERE c_id=#{u_id}-->
<!--    </select>-->

</mapper>