<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team5101.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.team5101.pojo.User" >
    <id column="u_id" property="u_id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="u_sno" property="u_sno" jdbcType="VARCHAR" />

  </resultMap>

  <sql id="Base_Column_List" >
    u_id,username, password,role,u_sno
  </sql>
  <sql id="sno">
    u_sno
  </sql>

  <select id="findUser" parameterType="String" resultType="com.team5101.pojo.User"  >
    select 
<!--    <include refid="Base_Column_List" />-->
    *
    from x_user
    where username=#{username} and password=#{password}
  </select>

<!--  根据学号查询个人信息-->
  <select id="findInfo" parameterType="String" resultType="com.team5101.pojo.Competitor">
    select
    *
    from x_contestm
    where c_sno=#{u_sno}
  </select>

    <!--  根据账号查询个人信息-->
    <select id="CheckUser" parameterType="String" resultType="Integer">
         select count(*) from x_user where username=#{username} and password=#{password}
    </select>


<!--  动态修改-->
  <update id="updateOne"  parameterType="com.team5101.pojo.Competitor">
        update x_contestm
        <trim prefix="set" suffixOverrides=",">
        <if test="c_name!=null">c_name=#{c_name},</if>
        <if test="c_gender!=null">c_gender=#{c_gender},</if>
        <if test="c_major!=null">c_major=#{c_major},</if>
        <if test="c_phone!=null">c_phone=#{c_phone},</if>
        <if test="c_QQ!=null">c_QQ=#{c_QQ},</if>
        </trim>
        WHERE c_sno=#{c_sno}
  </update>

    <update id="updatePassword"  parameterType="STRING">
        update x_user
        <trim prefix="set" suffixOverrides=",">
            <if test="password!=null">password=#{password},</if>

        </trim>
        WHERE username=#{username}
    </update>


</mapper>